<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <title>POTYGRASS - Grama em Tapete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="../static/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/footer-white.css">

</head>
<body>

<div class="navbar navbar-expand-sm bg-light navbar-dark justify-content-end">
    <div class="container">
        <div class="contact-info mr-auto">
            <i class="bi bi-envelope p-2"></i>potygrass@gmail.com
            <i class="bi bi-phone-vibrate p-2"></i> (84)99665-8621 (84)99690-4271
        </div>
        <div class="social-links ">
            <a href="https://web.whatsapp.com/send?phone=5584997043192" class="whatsapp" target="_blank"><i
                    class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/potygrass/" class="facebook" target="_blank"><i
                    class="bi bi-facebook "></i></a>
            <a href="https://www.instagram.com/potygrass/" class="instagram" target="_blank"><i
                    class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-sm navbar-light justify-content-end">
    <div class="container">
        <img src="../static/img/logopoty.svg" alt="Logo Potygrass" width="190" height="50"
             class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/potygrass">Potygrass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cuidados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comercial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contato">Contatos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="content">

    <div class="container">
        <div class="section-title h2">
            <h3>SOLICITE <span>ORÇAMENTO</span></h3>
        </div>
        <form class="row g-3" action='/send' method="POST">
            <div class="row g-3">
                <div class="col">
                    <input name="nome" type="text" class="form-control" placeholder="Nome" aria-label="Nome" required>
                </div>
                <div class="col">
                    <input name="email" type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
                           required>
                </div>
                <div class="col">
                    <input name="fone" type="text" class="form-control" id="inputFone" placeholder="Telefone" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-4">
                <select name="estado" id="inputState" class="form-select" required>
                    <option selected>Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="col">
                <input name="cidade" type="text" class="form-control" placeholder="Cidade" aria-label="Cidade" required>
            </div>
            <div class="col">
                <input name="quantidade" type="text" class="form-control" placeholder="Quantidade em M²"
                       aria-label="Quantidade em M²" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger">Enviar Solicitação</button>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" id="alerta" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<footer id="myFooter">
    <div class="footer-social">

        <p class="footer-copyright">Copyright © 2022 | Pluck Studio</p>

    </div>
</footer>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/script.js"></script>
</body>
</html>